@tailwind base;
@tailwind components;
@tailwind utilities;


.container {
    width: 150px;
    height: 150px;
    border-radius: 30px;
  }

  .text-gradient {
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 60px;
    font-weight: bold;
  }

  .border-gradient {
    border: 15px solid transparent;
    background:  linear-gradient(to top, #00C0FD, #E70FAA) border-box; /* Gradient colors and direction */
   }
  

  .text-gradient2 {
    background: linear-gradient(to right, #13B0F5, #E70FAA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
  }